 /**
 * Magic Mirror
 * Module Style Sheet: MMM-WeatherStation
 *
 * By David Dearden
 * MIT Licensed.
 */
 
/**
 * Font configurations
 */
.MMM-WeatherStation .x-small	{ font-size: 15px; line-height: 20px; }
.MMM-WeatherStation .small	{ font-size: 20px; line-height: 25px; }
.MMM-WeatherStation .medium	{ font-size: 30px; line-height: 35px; }
.MMM-WeatherStation .large	{ font-size: 50px; line-height: 50px; }
.MMM-WeatherStation .x-large	{ font-size: 70px; line-height: 70px; letter-spacing: -3px; }
.MMM-WeatherStation .maximum	{ color: #bb0000; }
/*
.MMM-WeatherStation .minimum	{ vertical-align: top; margin: 10%; padding: 5px; font-size: 20px; line-height: 15px; color: #0000bb; }
*/
.MMM-WeatherStation .minimum	{ color: #0000bb; }
.MMM-WeatherStation .smallrow	{ vertical-align: top; padding-top: 5px; font-size: 20px; line-height: 15px; }
.MMM-WeatherStation .margin	{ padding: 10px; }
.MMM-WeatherStation .fuckingcold	{ color: #8800aa; }
.MMM-WeatherStation .cold	{ color: #0000ee; }
.MMM-WeatherStation .chilly	{ color: #00bb00; }
.MMM-WeatherStation .comfortable	{ color: #bbbb00; }
.MMM-WeatherStation .warm	{ color: #bb7700; }

.MMM-WeatherStation .wet	{ color: #55aaff; }
.MMM-WeatherStation .moderate	{ color: #22aa22; }
.MMM-WeatherStation .dry	{ color: #bb4400; }

.MMM-WeatherStation .lowpressure	{ color: #7777ff; }
.MMM-WeatherStation .highpressure	{ color: #dd5555; }

.MMM-WeatherStation .bigfont { font-weight: 300; }

/*
.MMM-WeatherStation table {
  border-collapse:collapse;
}
*/

.MMM-WeatherStation table td {
  line-height: 1.00;
}

.MMM-WeatherStation table tr {
  border-bottom: solid 1px #222;
}


/**
 * Loading text
 */
.MMM-WeatherStation .loading {
	color: #666666;
}
