{# Set shortcut variables #}
{% set config = module.config %}
{% set weatherData = module.sensorData %}

{% macro temp_data(where) %}
<tr>
  <td>
    <i class="fas fa-{{ 'home' if where == 'indoor' else 'sun' }} large"></i>
    <i class="fas fa-thermometer-half smallrow"></i>
  </td>
  {% set cur_temp = weatherData[where+'-celcius'] %}
  {% set cur_temp_color = module.tempHue(cur_temp) %}
  <td colspan="3" style="color:hsl({{ cur_temp_color }},75%,60%)">
    <i class="margin large">{{ module.roundNumber(cur_temp,1) }}°C</i>
  </td>

  <td><i class="margin fa fa-tint smallrow"></i></td>
  {% set cur_humi = weatherData[where+'-humidity'] %}
  {% set cur_humi_color = module.humiHue(cur_humi) %}
  <td colspan="3" style="color:hsl({{cur_humi_color}},75%,60%)">
    <i class="margin large">{{ cur_humi | round }}%</i>
  </td>
</tr>
<tr>
  <td><i class="margin smallrow minimum fa fa-thermometer-empty"></i></td>
  {% set min_temp = weatherData[where+'-celcius-min'] %}
  {% set min_temp_color = module.tempHue(min_temp) %}
  <td style="color:hsl({{min_temp_color}},75%,60%)"><i class="margin small">{{ module.roundNumber(min_temp,1) }}°C</i></td>

  <td><i class="margin smallrow maximum fa fa-thermometer-full"></i></td>
  {% set max_temp = weatherData[where+'-celcius-max'] %}
  {% set max_temp_color = module.tempHue(max_temp) %}
  <td style="color:hsl({{max_temp_color}},75%,60%)"><i class="margin small">{{ module.roundNumber(max_temp,1) }}°C</i></td>

  <td/>
  <td><i class="margin small">{{ module.roundNumber(weatherData[where+'-dewpoint-celcius'],1) }}°C</i></td>
</tr>
{% endmacro %}

{% macro airpressure() %}
<tr>
  <td></td>
  {% set airpressure = weatherData['air-pressure'] %}
  {% set airpressure_trend = airpressure - weatherData['air-pressure-1hour'] %}
  {% set airpressure_color = module.airpressureHue(airpressure) %}
  {% set airpressure_trend_color = module.airpressureTrendHue(airpressure_trend) %}
  <td colspan="3" style="color:hsl({{airpressure_color}},75%,60%)">
    <i class="margin medium">{{ module.roundNumber(weatherData['air-pressure'],1) }} hPa</i>
  </td>
  <td><i class="margin medium fas {{ module.airPressureDeltaSymbol(airpressure_trend) }} {{ 'blink' if airpressure_trend <= -2.0 }}"></i></td>
  <td style="color:hsl({{airpressure_trend_color}},75%,60%)">
    <i class="margin medium">{{ module.roundNumber(airpressure_trend,1) }}</i>
  </td>
</tr>
{% endmacro %}

<div style="standard">
  <table><tbody>
    {% for place in ['indoor', 'outdoor'] %}
    {{ temp_data(place) }}
    {% endfor %}
    {{ airpressure() }}
  </tbody></table>
</div>

